<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
        </div>
        <div class="card-body">
          <form #trackForm="ngForm" (submit)="findItemId(trackForm)" id="" ngNativeValidate>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="form-group">
                  <h5 class="text-center">Track The Item With Item ID</h5>
                  <input matInput ngModel type="text" class="form-control" placeholder="" name="theItemId" required>
                </div>
                <button class="btn btn-primary btn-block mb-5" type="submit">Track Now</button>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
          <form>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 text-center">
                <p class="text-center">or</p>
                <h5 class="text-center">Track The Item With QR Code</h5>
                <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
                <button (click)="enableScanner()" *ngIf="!scannerEnabled" type="button" class="btn btn-warning btn-block">Track With QR Code</button>
                <p>{{ theInfo }}</p>
              </div>
              <div class="col-md-4"></div>
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="this.timelineList.length>0">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">{{this.timelineList.itemId}}
        </div>
        <div class="card-body">

          <div class="text-center"><h6>
            {{this.timelineList[0].itemId}} by {{this.timelineList[0].madeBy}}
          </h6></div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Timeline</th>
                <th scope="col">Item Name</th>
                <th scope="col">Location</th>
                <th scope="col">Description</th>
                <th scope="col">Comment</th>
                <th scope="col">Status</th>
                <th scope="col">Expiry Date</th>
              </tr>
            </thead>
            <tr *ngFor="let transactions of this.timelineList">
              <td>{{transactions.createdDate | date:'MM/dd/yyyy'}}</td>
              <td>{{transactions.itemName}}</td>
              <td>{{transactions.location}}</td>
              <td>{{transactions.description}}</td>
              <td>{{transactions.comment}}</td>
              <td>{{transactions.status}}</td>
              <td>{{transactions.expiryDate | date:'MM/dd/yyyy'}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>