<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Manufacturer Manager</h4>
            </div>
            <div class="card-body">
                <button class="btn btn-success" (click)="onRegisterManufacturer()">
                    <i class="fa fa-plus fa-lg"></i> New Manufacturer
                </button>
                <h4 class="card-title">
                    Manufacturer List
                </h4>
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="text-dark">
                            <th>
                                Name
                            </th>
                            <th>
                                Username
                            </th>
                            <th>
                                Password
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let manufactuer of manufacturerList">
                                <td>{{manufactuer.name}}</td>
                                <td>{{manufactuer.username}}</td>
                                <td>{{manufactuer.password}}</td>
                                <td>
                                    <button type="button" class="fa fa-trash btn btn-danger" (click)="onDeleteManufacturer(manufactuer.username)"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>