
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>New Item Entry Form</mat-card-title>
        </mat-card-header>

        <form #postForm="ngForm" (submit)="recordNewItem(postForm)" id="" ngNativeValidate>
          <mat-card-content layout-align="center">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Item Name</mat-label>
                  <input matInput ngModel type="text" name="itemName" placeholder="Item Name" required #itemName="ngModel" minlength="4">
                  <mat-error *ngIf="itemName.invalid">Please enter an item name</mat-error>
                </mat-form-field>
  
                <mat-form-field appearance="outline">
                  <mat-label>Description</mat-label>
                  <input matInput ngModel type="text" name="description" placeholder="Description" required #description="ngModel" minlength="4">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Comments</mat-label>
                  <input matInput ngModel type="text" name="remark" placeholder="Remarks" required #remark="ngModel">
                </mat-form-field>
  
                <mat-form-field appearance="outline">
                  <mat-label>Location/Provenance</mat-label>
                  <input matInput ngModel type="text" name="location" placeholder="Location" required #location="ngModel" minlength="4">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4 d-flex justify-content-center">
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <select matNativeControl matInput ngModel name="status" #status="ngModel" required>
                    <option value=""></option>
                    <option value="completed">Completed</option>
                    <option value="inprogress">In Progress</option>
                  </select>
                </mat-form-field>
              </div><div class="col-md-4"></div>
            </div>
            </mat-card-content>

          <mat-card-content>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <mat-label class="mr-3">Expiry Date</mat-label>
                <mat-form-field class="datePickers" appearance="fill">
                  <mat-label></mat-label>
                  <input matInput [formControl]="expDate" [matDatepicker]="picker1" [min]="minDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-3"></div>
            </div>
          </mat-card-content> 
    

          <mat-card-actions align="center">
            <button mat-raised-button	color="primary" type="submit">Create</button>
          </mat-card-actions>
        </form>
      </mat-card>

     