<mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Recently Added and Mined Transactions</mat-card-title>
    </mat-card-header>
    <div class="card-body">
      <div class="table">
      <p *ngIf="this.dataSource.filteredData.length == 0" style="text-align: center;">There Is No Item Added Yet</p>
    <table class="table table-responsive" mat-table matSort [dataSource]="dataSource" id="itemTable" *ngIf="this.dataSource.filteredData.length > 0"> 
      
        <!--  ID Column -->
        <ng-container matColumnDef="itemId">
          <th mat-header-cell *matHeaderCellDef> Item ID </th>
          <td mat-cell *matCellDef="let item"> {{item.itemId}} </td>
        </ng-container>

        <!--Item name Column -->
        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
          <td mat-cell *matCellDef="let item"> {{item.itemName}} </td>
        </ng-container>

        <!--Item Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
          <td mat-cell *matCellDef="let item"> {{item.description}} </td>
        </ng-container>

        <!--Item Location Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
          <td mat-cell *matCellDef="let item"> {{item.location}} </td>
        </ng-container>

         <!--Item status Column -->
         <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let item"> {{item.status}} </td>
        </ng-container>

        <!--Item comment Column -->
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment </th>
          <td mat-cell *matCellDef="let item"> {{item.comment}} </td>
        </ng-container>

        <!--Expiry date Column -->
        <ng-container matColumnDef="expiryDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </th>
          <td mat-cell *matCellDef="let item"> 
            {{item.expiryDate | date:'MM/dd/yyyy'}}</td>
        </ng-container>

         <!--Created date Column -->
         <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
          <td mat-cell *matCellDef="let item"> 
            {{item.createdDate | date:'MM/dd/yyyy'}}</td>
        </ng-container>

        <!--Item manufacturer Column -->
        <ng-container matColumnDef="manufacturer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer Company </th>
          <td mat-cell *matCellDef="let item"> {{item.madeBy}} </td>
        </ng-container>

        <!--Item qr Column -->
        <ng-container matColumnDef="qrcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> QR </th>
          <td mat-cell *matCellDef="let item" style="padding-top: 1.34375em!important">
            <div style="height: 150%; width: 150%;">
              <ngx-qrcode [value]="item.itemId"></ngx-qrcode>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnName"></tr>
        <tr mat-row *matRowDef="let row; columns: columnName;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
  </mat-card>



