<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Blockchain</h4>
                <div class="form-group">
                    <label for="nodeSelect">Node</label>
                    <select class="form-control" id="nodeSelect">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="card-body">
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Blockchian">Content 1</mat-tab>
                    <mat-tab label="Transaction">Content 2</mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>