
<div class="row">
    <div class="col-5">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Find Item</mat-card-title>
      </mat-card-header>
      <div>
        <form #trackForm="ngForm" (submit)="findItemId(trackForm)" id="" ngNativeValidate>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <div class="form-group">
                <h5 class="text-center">Track The Item With Item ID</h5>
                <input matInput ngModel type="text" class="form-control" placeholder="" name="theItemId" required>
              </div>
              <button class="btn btn-primary btn-block mb-5" type="submit">Track Now</button>
            </div>
            <div class="col-md-1"></div>
          </div>
        </form>
      </div>
      <div>
        <form>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 text-center">
              <p class="text-center">or</p>
              <h5 class="text-center">Track The Item With QR Code</h5>
              <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
              <button (click)="enableScanner()" *ngIf="!scannerEnabled" type="button" class="btn btn-warning btn-block">Track With QR Code</button>
              <p>{{ theInfo }}</p>
            </div>
            <div class="col-md-1"></div>
          </div>
        </form>
      </div>
    </mat-card>
    
  
    </div>
  <!-- edit form -->
  
  <div class="col-md-7">
    <div class="card text-white bg-primary col-mb-12 text-center" *ngIf="this.theRetrievedItem != null">
      <div class="p-5">
        <div class="card-title">Item ID: {{this.theRetrievedItem.itemId}}</div>
        <div class="card-body">
          <h5 class="card-text">Item Name: {{this.theRetrievedItem.itemName}}</h5>
          <p class="card-text">Item Description: {{this.theRetrievedItem.description}}</p>
          <p class="card-text">Item Comment: {{this.theRetrievedItem.comment}}</p>
          <p class="card-text">Item Location: {{this.theRetrievedItem.location}}</p>
          <p class="card-text">Item Status: {{this.theRetrievedItem.status}}</p>
          <hr>
          <div class="row">
            <div class="col-md-6"><p class="card-text">expiryDate : {{this.theRetrievedItem.expiryDate | date:'MM/dd/yyyy'}}</p></div>
            <div class="col-md-6"><p class="card-text">Created Date : {{this.theRetrievedItem.createdDate | date:'MM/dd/yyyy'}}</p></div>
          </div>
      </div>
      </div>
    </div>  

    <mat-card class="mat-elevation-z8" *ngIf="this.theRetrievedItem != null">
      <mat-card-header>
        <mat-card-title>Update Item Form</mat-card-title>
      </mat-card-header>
      <form #updateForm="ngForm" (submit)="updateItem(updateForm)" id="" ngNativeValidate>
        <mat-card-content layout-align="center">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="m-2">
                <mat-form-field appearance="outline">
                  <mat-label>Location/Provenance</mat-label>
                  <input matInput ngModel type="text" name="location" placeholder="Location" required #location="ngModel" minlength="4">
                </mat-form-field>
              </div>
              <div class="m-2">
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <select matNativeControl matInput ngModel name="status" #status="ngModel" required>
                    <option value=""></option>
                    <option value="completed">Completed</option>
                    <option value="inprogress">In Progress</option>
                  </select>
                </mat-form-field>
              </div>              
            </div>
          </div>
          </mat-card-content>

        <mat-card-actions align="center">
          <button mat-raised-button	color="primary" type="submit">Update</button>
        </mat-card-actions>
      </form>
    </mat-card>

    <div class="card text-white bg-primary col-mb-12 text-center" *ngIf="this.theRetrievedItem == null">
      <div class="pt-2">
        <div class="card-title">Find An Item Using QR Scanner or Entering Item ID</div>
      </div>
    </div> 

  </div>
  </div>
  